{% extends "layout.html" %} 
{% block container %}

<br><br><br><br>
<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"><br><br>
<a href="alumnos" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Alumnos</a><br><br>
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    NOMBRE
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    APATERNO
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    CORREO
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    EDITAR
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    DETALLES
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    ELIMINAR
                </th>
            </tr>
        </thead>
        <tbody>
            {% for alumn in Alumnos %}
            <tr class="bg-neutral-primary border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{ alumn.nombre }}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{ alumn.aPaterno }}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{ alumn.email }}
                </th>
                <td class="px-6 py-4">
                    <a href="modificar?id={{ alum.id }}" class="font-medium text-fg-brand hover:underline">Editar</a>
                </td>
                <td class="px-6 py-4">
                    <a href="detalles?id={{ alum.id }}" class="font-medium text-fg-brand hover:underline">Detalles</a>
                </td>
                <td class="px-6 py-4">
                    <a href="eliminar?id={{ alum.id }}" class="font-medium text-fg-brand hover:underline">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{%endblock%}